<ion-header>
        <ion-navbar color="primary">
            <button ion-button menuToggle clear>
                <ion-icon style="font-size: 25px;" name="menu"></ion-icon>
              </button>
          <ion-title>Address List</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content>
          
             <p style="margin-left:20px">Your List of addresses will appear here.</p> 
        <ion-list margin>
            
            <ion-card *ngFor="let item of address;">
                <ion-item text-wrap>
                    <h3 style="padding:5dp;"> {{item.locationAddress$_identifier}}</h3>
                </ion-item>
            </ion-card>
             
        </ion-list>
      
        <ion-fab right bottom >
            <button ion-fab [color]="buttonColor" (click)="gotoaddressscreen()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
        <!-- <mbsc-form [options]="formSettings">
            <mbsc-listview [options]="listviewSettings">
                <mbsc-listview-item *ngFor="let item of address">{{ item.locationAddress$_identifier }}
                    <div class="md-timestamp mbsc-italic">{{ item.time }}</div>
                </mbsc-listview-item>
            </mbsc-listview>
            <div class="mbsc-btn-group-block">
                <mbsc-button (click)="gotoaddressscreen1()">Add new Address</mbsc-button>
            </div>
        </mbsc-form> -->

      </ion-content>
      