page-paymentspage {
    .left-content {
        width: 50%;
        float: left;
      }
      .right-content {
        width: 50%;
        float: right;
      }
      .addqty{
        float: left;
        position: relative;
        vertical-align: -webkit-baseline-middle;
     }
}
