@import '../../theme/variables.scss';

/*
.SalesOrderLogin{
	
	.div{
		
		float:right;
	}
	button{
		border-right: 2px solid black;
		border-left: 2px solid black;
		
		border-bottom:2px solid black;
	}
	ion-list{
		margin-top:0px;
		border-top:2px solid black;
		border-bottom:2px solid black;
	}
	.size{
		width:170px;
	}
}
.SOLnav{
	.toolbar-background{
	background: linear-gradient(to top, #bfbfbf, #f6f6f6);
	}
	.back-default{
		margin-top:-20px;
		color:white;
		font-size:0px;
	}
	.button-inner{
        color:#666666;
    }
}*/
